@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;800&display=swap');
/*  font-family: 'Nunito', sans-serif;  */

body {
  font-family: 'Nunito', sans-serif;
  transition: background 1s ease;
}

*   {
  background-color: transparent;
  margin: 5px;
}

 div{
  border: 1px solid yellowgreen;
}


.App {
  text-align: center;
}

/* Home Component */

.home-header{
  display: flex;
  height: 80px;
  align-items: center;
  justify-content: center;
}

.home-header img{
  height: 40px;
}

.home-header img:hover{
  cursor: pointer;
}

.main-title{
  border: 1px solid blue;
  width: fit-content;
  display: inline-block;
  color: white;
  text-shadow: 1px 1px 5px rgba(3, 3, 3, 0.842);
}

/* Search Component */

/* Autocomplete */

.test-position {
  border: 1px solid #999;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
  position: relative;
}

.test-input {
  width: 29%;
  background: white;
  padding: 8px;
  border: solid gray;
  border-radius: 5px;

}
.no-autocomplete {
  color: #999;
  padding: 8px;
  background: white;
  border: 1px solid #999;
  list-style: none;
  overflow-y: auto;
  padding-left: 0;
  width: 30%;
  position: absolute;
  left: 35%;
  z-index: 2;
}
.autocomplete {
  border: 1px solid #999;
  list-style: none;
  margin-top: 0;
  max-height: 30vh;
  overflow-y: auto;
  padding-left: 0;
  width: 30%;
  position: absolute;
  left: 35%;
  z-index: 2;
}
.autocomplete li {
  padding: 8px;
  background: white;
}
.autocomplete > .active,
.autocomplete li:hover {
  background-color: darkgray;
  cursor: pointer;
  font-weight: 700;
}
.autocomplete li:not(:last-of-type) {
  border-bottom: 1px solid #999;
}

/* Filter Component */

button {
  color: white;
  font-weight: bold;
  margin: 5px;
  padding: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  border-radius: 20px;
  border: 1px solid #aaa;
  width: 100px;
}

.btnnormal{background-color: #A8A77A}
.btnfire{background-color: #EE8130}
.btnwater{background-color: #6390F0}
.btnelectric{background-color: #F7D02C}
.btngrass{background-color: #7AC74C}
.btnice{background-color: #96D9D6}
.btnfighting{background-color: #C22E28}
.btnpoison{background-color: #A33EA1}
.btnground{background-color: #E2BF65}
.btnflying{background-color: #A98FF3}
.btnpsychic{background-color: #F95587}
.btnbug{background-color: #A6B91A}
.btnrock{background-color: #B6A136}
.btnghost{background-color: #735797}
.btndragon{background-color: #6F35FC}
.btnsteel{background-color: #B7B7CE}
.btndark{background-color: #705746}
.btnfairy{background-color: #D685AD}

.t-search{
  float: inline-start;
  padding: 0;
  margin: 0;
}

.main-footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: transparent;
  text-align: center;
}

/* Home Component*/

.main-card-header{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: end;
}

.main-card-header h1{
  line-height: 100%;
}

.main-card-body{
  width: 100%;
  display: flex;
}

.img-container{
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  
  
}

.img-container img{
  width: 80%;
  
}

.stats-container{
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main-card-footer{
  display: flex;
  justify-content: center;
}