body {
  background-image: url(./components/img/Moon.svg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: auto;
}

.App {
  text-align: center;
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* Autocomplete */

.test-position {
  border: 1px solid #999;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
  position: relative;
}

.test-input {
  width: 30%;
}
.no-autocomplete {
  color: #999;
  padding: 8px;
  background: white;
  border: 1px solid #999;
  list-style: none;
  overflow-y: auto;
  padding-left: 0;
  width: 30%;
  position: absolute;
  left: 35%;
  z-index: 2;
}
.autocomplete {
  border: 1px solid #999;
  list-style: none;
  margin-top: 0;
  max-height: 30vh;
  overflow-y: auto;
  padding-left: 0;
  width: 30%;
  position: absolute;
  left: 35%;
  z-index: 2;
}
.autocomplete li {
  padding: 8px;
  background: white;
}
.autocomplete > .active,
.autocomplete li:hover {
  background-color: darkgray;
  cursor: pointer;
  font-weight: 700;
}
.autocomplete li:not(:last-of-type) {
  border-bottom: 1px solid #999;
}

button {
  color: white;
  font-weight: bold;
  margin: 5px;
  padding: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  border-radius: 20px;
  border: 1px solid #aaa;
  width: 100px;
}



.btnnormal{background-color: #A8A77A}
.btnfire{background-color: #EE8130}
.btnwater{background-color: #6390F0}
.btnelectric{background-color: #F7D02C}
.btngrass{background-color: #7AC74C}
.btnice{background-color: #96D9D6}
.btnfighting{background-color: #C22E28}
.btnpoison{background-color: #A33EA1}
.btnground{background-color: #E2BF65}
.btnflying{background-color: #A98FF3}
.btnpsychic{background-color: #F95587}
.btnbug{background-color: #A6B91A}
.btnrock{background-color: #B6A136}
.btnghost{background-color: #735797}
.btndragon{background-color: #6F35FC}
.btnsteel{background-color: #B7B7CE}
.btndark{background-color: #705746}
.btnfairy{background-color: #D685AD}


.img-search {
  height: 50px;
}

.img-filter{
  height: 50px;
}

.t-search{
  float: inline-start;
  padding: 0;
  margin: 0;
}

.main-footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: transparent;
  text-align: center;
}